@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
@media (max-width: 946px) {
  .custom-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .custom-search {
    width: 100%;
    margin: 0 auto;
  }
  .custom-filter-btns {
    margin: 0 auto;
  }
}

@media (max-width: 395px) {
  .filter-col {
    flex-direction: column;
    align-items: center;
  }
}
